.align-btn {
    margin: 2% 7% 0% 1%;
  }
  .modal-actions{
    margin: 12px;
    padding: 12px;
  }
  .modal-action-btn{
    margin: 5px;
  }
  .warning-text{
    color:#e61313;
  }
  
  .animate{
    display:block;
    font-size: 50px;
   animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count:infinite; 
  }
  
  @keyframes rotate {
   10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  